[core]
eol = lf
autocrlf = false
[user]
email = ami@ccrsxx.com
name = Ami
signingkey = 0E0EE861072ECB2C
[commit]
gpgsign = true
[alias]
ac = !git add -A && git commit -m
acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
acpb = "!f() { git add -A && git commit -m \"$@\" && git push && npm run deploy; }; f"
racpf = "!f() { git reset head~ && git add -A && git commit -m \"$@\" && git push -f; }; f"
acpf = "!f() { git add -A && git commit -m \"$@\" && git push -f; }; f"
[init]
defaultBranch = main
[push]
autoSetupRemote = true
[pull]
rebase = true
[rebase]
autostash = true
